services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: strapi-data-to-table
        ports:
            - '3000:3000'
        environment:
            - NODE_ENV=production
        restart: unless-stopped
        networks:
            - app-network

networks:
    app-network:
        driver: bridge
